In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
movies = "../data/ml-latest/movies.csv"
rating = "../data/ml-latest/ratings.csv"

df_movies = pd.read_csv(movies)
df_rating = pd.read_csv(rating)
df_rating

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]

In [6]:
df_movies.info(), df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 1.0 GB

(None, None)

In [8]:
df_movies.describe(), df_rating.describe()

(             movieId
 count   86537.000000
 mean   155932.817096
 std     78037.145347
 min         1.000000
 25%    111443.000000
 50%    164574.000000
 75%    211225.000000
 max    288983.000000,
              userId       movieId        rating     timestamp
 count  3.383216e+07  3.383216e+07  3.383216e+07  3.383216e+07
 mean   1.654380e+05  2.831348e+04  3.542540e+00  1.269362e+09
 std    9.534122e+04  4.992865e+04  1.063959e+00  2.541023e+08
 min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
 25%    8.295300e+04  1.219000e+03  3.000000e+00  1.046718e+09
 50%    1.661290e+05  3.263000e+03  4.000000e+00  1.264740e+09
 75%    2.474500e+05  4.049100e+04  4.000000e+00  1.496919e+09
 max    3.309750e+05  2.889830e+05  5.000000e+00  1.689843e+09)